/*Buttton Style*/
.btn {
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  /*   display: none; */
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  /*   top:0;
    left:0; */
  overflow: hidden;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  line-height: inherit;
  background-position: center;
  transition: background 0.8s;
}
.btn-contained {
  @extend .btn;
  background-color: $border-color;
  color: white;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 4px 3px 4px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 4px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 3px 4px -3px rgba(0, 0, 0, 0.75);
  &:hover {
    background: $border-color radial-gradient(circle, transparent 1%, $border-color 1%) center/15000%;
  }
  &:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  &:focus {
    outline: 0 !important;
  }
}
.btn-outlined {
  @extend .btn;
  border-color: $border-color;
  background-color: white;
  color: $border-color;
  border-radius: 4px;
  border-width: 1px;
  &:hover {
    background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
  }
  &:active {
    background-color: $border-color;
    background-size: 100%;
    transition: background 0s;
  }
  &:focus {
    outline: 0 !important;
  }
}
.btn-text {
  @extend .btn;
  color: $border-color;
  border: none;
  background-color: transparent;
  &:hover {
    background: transparent radial-gradient(circle, transparent 1%, white 1%) center/15000%;
  }
  &:active {
    background-color: $border-color;
    background-size: 100%;
    transition: background 0s;
  }
  &:focus {
    outline: 0 !important;
  }
}
