.metal-card {
    padding: 20px 15px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Roboto', sans-serif;
    &-title {
        font-size: 2rem;
        margin-bottom: 3px;
    }
}