.tbl {
  width: min-content;
  background-color: $bgtbl-color;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
caption {
  font-size: 1.5rem;
  color: #333975;
  text-align: center;
}
table, th, td {
  border: 1px solid $bgtbl-color;
  border-radius: 5px;
  border-collapse: collapse;
  padding: 0.45rem;
  text-align: left;
}
th {
  // background-color: $border-color;
  background: $metal;
  color: white;
  padding: 1rem;
  min-width: 20vw;
}
tr:nth-child(even):hover {
  background-color: $eventbl-color;
}
tr:nth-child(odd):hover {
background: linear-gradient(45deg, $oddtbl-color 0%, #f77ff0 100%);}