// Color variables
$success-color: #078d1b;
$warning-color: #fcbe05;
$primary-color: #0789b4;
$secondary-color: #555555;
$border-color: rgba(3,3,99,33);
$eventbl-color: #f0f0f0;
$oddtbl-color: #10afab;
$bgtbl-color: #f0f0f0;

//Gradient Metal_UI
$metal: linear-gradient(45deg, #877ff0 0%, #02006d 100%);

// Grid variables
$grid-columns: 12;
$media-screens: ( "xs": "0px", "sm": "576px", "md": "768px", "lg": "992px", "xl": "1200px")