{{ define "main" }}

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">{{ .Site.Title }}</h1>
    <p class="lead p-2">{{ .Site.Params.homeText | markdownify }}</p>
    <div class="btn">
      <div>
        <h5> Button contained </h5>
        <button class="btn-contained">Button</button>
      </div>
      <br />
      <br />
      <div>
        <h5> Button outlined </h5>
        <button class="btn-outlined">Button</button>
      </div>
      <br />
      <br />
      <div>
        <h5> Button text </h5>
        <button class="btn-text">Button</button>
      </div>
    <div>
    <div style="position:relative">
    <p><h5>   CheckBoxes  </h5></p>
    <label class="checkBox">One
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    <br />
    <label class="checkBox">Two
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <br />
    <label class="checkBox">Three
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <br />
    <label class="checkBox">Four
      <input type="checkbox">
      <span class="checkmark"></span>
    </label> 
    </div>
    <div style="position:relative">
    <p><h5>   RadioBoxes  </h5></p>
    <label class="radioBox">One
      <input type="radio" checked="checked" name="radio">
      <span class="radiomark"></span>
    </label>
    <br />
    <label class="radioBox">Two
      <input type="radio" name="radio">
      <span class="radiomark"></span>
    </label>
    <br />
    <label class="radioBox">Three
      <input type="radio" name="radio">
      <span class="radiomark"></span>
    </label>
    <br />
    <label class="radioBox">Four
      <input type="radio" name="radio">
      <span class="radiomark"></span>
    </label> 
    </div>
    <br />
    <br />
    <div class="tbl"> 
      <table>
        <caption>BioData</caption>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
        </tr>
        <tr>
          <td>Su4u</td>
          <td>Rai</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Romit</td>
          <td>Karmakar</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Mohit</td>
          <td>Agarwal</td>
          <td>19</td>
        </tr>
        <tr>
          <td>Rajas</td>
          <td>Kulkarni</td>
          <td>19</td>
        </tr>
      </table> 
    </div>
  </div>
</div>

{{ end }}
