{{ define "main" }}

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">{{ .Site.Title }}</h1>
    <p class="lead p-2">{{ .Site.Params.homeText | markdownify }}</p>
    <div class="btn">
      <div>
        <h4> Button contained </h4>
        <button class="btn-contained">Button</button>
      </div>
      <br />
      <div>
        <h4> Button outlined </h4>
        <button class="btn-outlined">Button</button>
      </div>
      <br />
      <div>
        <h4> Button text </h4>
        <button class="btn-text">Button</button>
      </div>
    </div>
    <br />
    <br />
    <div style="position:relative;text-align:center;font-family: Roboto, sans-serif;text-transform:uppercase;letter-spacing: 0.09em;">
      <h4>   CheckBoxes  </h4>
      <label class="checkBox">One
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <br />
      <label class="checkBox">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <br />
      <label class="checkBox">Three
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <br />
      <label class="checkBox">Four
        <input type="checkbox">
        <span class="checkmark"></span>
      </label> 
    </div>
    <br />
    <br />
    <div style="position:relative;text-align:center;font-family: Roboto, sans-serif;text-transform:uppercase;letter-spacing: 0.09em;">
      <h4>   RadioBoxes  </h4>
      <label class="radioBox">One
        <input type="radio" checked="checked" name="radio">
        <span class="radiomark"></span>
      </label>
      <br />
      <label class="radioBox">Two
        <input type="radio" name="radio">
        <span class="radiomark"></span>
      </label>
      <br />
      <label class="radioBox">Three
        <input type="radio" name="radio">
        <span class="radiomark"></span>
      </label>
      <br />
      <label class="radioBox">Four
        <input type="radio" name="radio">
        <span class="radiomark"></span>
      </label> 
    </div>
    <br />
    <br />
    <br />
    <div style="position:relative;text-align:center;font-family: Roboto, sans-serif;text-transform:uppercase;letter-spacing: 0.09em;">
    <h4>   NavBar  </h4>
    </div>
    <navbar>
      <ul>
        <div class="logonav">
          <span>Metal_UI</span>
        </div>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Clients </a></li>
        <li>
          <a href="#">Services </a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </navbar>
    <br />
    <br />
    <br />
    <div style="position:relative;text-align:center;font-family: Roboto, sans-serif;text-transform:uppercase;letter-spacing: 0.09em;">
    <h4>   Drop-Down Menu  </h4>
    </div>
    <dropmenu>
      <label for="drop" class="toggle">&#8801; Menu</label>
      <ul class="menu">
        <li ><a href="#">Home</a></li>
        <li> 
          <!-- First Tier Drop Down -->
          <a href="#">Service</a>
          <input type="checkbox" id="drop-1"/>
          <ul>
            <li><a href="#">Service 1</a></li>
            <li><a href="#">Service 2</a></li>
            <li><a href="#">Service 3</a></li>
          </ul>
        </li>
        <li> 
          <!-- First Tier Drop Down -->
          <a href="#">Portfolio</a>
          <input type="checkbox" id="drop-2"/>
          <ul>
            <li><a href="#">Portfolio 1</a></li>
            <li><a href="#">Portfolio 2</a></li>
            <li><a href="#">Works</a></li>
          </ul>
        </li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </dropmenu>
    <br />
    <br />
    <br />
    <br />
    <div style="position:relative;text-align:center;font-family: Roboto, sans-serif;text-transform:uppercase;letter-spacing: 0.09em;">
    <h4>   Table  </h4>
    </div>
    <div class="tbl"> 
      <table>
        <caption>BioData</caption>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
        </tr>
        <tr>
          <td>Su4u</td>
          <td>Rai</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Romit</td>
          <td>Karmakar</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Mohit</td>
          <td>Agarwal</td>
          <td>19</td>
        </tr>
        <tr>
          <td>Rajas</td>
          <td>Kulkarni</td>
          <td>19</td>
        </tr>
      </table> 
    </div>
    <button id="btnbtn">Click Me</button>
  </div>
</div>

{{ end }}
