{{ define "main" }}

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">{{ .Site.Title }}</h1>
    <p class="lead p-2">{{ .Site.Params.homeText | markdownify }}</p>
    <p>
      <h5> Button contained </h5>
      <button class="btn-contained">Button</button>
    </p>
    <br />
    <br />
    <p>
      <h5> Button outlined </h5>
      <button class="btn-outlined">Button</button>
    </p>
    <br />
    <br />
    <p>
      <h5> Button text </h5>
      <button class="btn-text">Button</button>
    </p>
  </div>
</div>

{{ end }}
